<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Products</title>
<link href="C:\Users\Moatez\Desktop\boot\css\bootstrap.css" rel="stylesheet">
</head>
<body>

<h3 class="text-center">Add Product</h3>
<form action="/addP" method="Post" enctype="multipart/form-data">
<div class="form-group">
<label>Product name:</label>
<input type="text" name="name" >
<label>Product desc:</label>
<input type="text" name="description" >
<label>Quantité:</label>
<input type="text" name="quantity" >
<label>Prix:</label>
<input type="number" name="prix" >
<label>date:</label>
<input type="text" name="date" >
<div class="custom-file mb-2">

<input type="file" name="file" class="custom-file-input" >
<label class="custom-file-label">choose file:</label>
</div>
<button type="submit" class="btn btn-primary">submit</button>
</div>



</form>

<script type="text/javascript" src="C:\Users\Moatez\Desktop\boot\js\bootstrap.js"></script>
</body>
</html>