<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
   <link rel="stylesheet" th:href="@{/uikit.min.css}">
  <script type="text/javascript" th:src="@{/uikit.min.js}"></script>

</head>

<body>
<h3 class="text-center">List of products</h3>
<a href="addProduct.html"><button type="button" class="btn btn-success btn-sm mt-2">Add new Product</button></a>
<table class="table">

<thead class="thead-dark">
<tr>
<th scope="col">Image</th>
<th scope="col">Name</th>
<th scope="col">Description</th>
<th scope="col">Price</th>
<th scope="col">Quantity</th>
<th scope="col">Actions</th>


</tr>
</thead>
<tbody>
<div>
<tr th:each="product: ${products}">
<th scope="row"><img alt="" th:src="*{'data:image/png;base64,'+{product.image}}" style="width: 80px; height: 80px;">  </th>

 <td><b>[[*{product.name}]]</b>
<br>

  

</td>

<td><b>[[*{product.description}]]</b>
<br>



<td><b>[[*{product.prix}]]</b>
<br>



</td>
<td><b>[[*{product.quantity}]]</b>


</td>
<td><b>[[*{product.user.id}]]</b>


</td>
<td>

 <!-- This is a button toggling the modal -->
   
<button class="uk-button uk-button-primary uk-margin-small-right " type="button" th:attr="uk-toggle='target: #modal-example'+*{product.id}">Update</button>

<!-- This is an anchor toggling the modal -->


<!-- This is the modal -->

<div th:id="*{'modal-example'+{product.id}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
    <h3>Update Your Product</h3>
    <form action="/updateProd" method="Post" >
  
        <label >Product id :</label>
<input type="text" class="form-control" name="id" th:value="*{product.id}" >
<label>New Product name:</label>
<input type="text" class="form-control" name="name" th:value="*{product.name} ">
<label>New Product Description:</label>
<input type="text" class="form-control" name="description" th:value="*{product.description}" >
<label>New Product Price:</label>
<input type="text" class="form-control" name="prix" th:value="*{product.prix}">
<label>New Product quantity:</label>
<input type="text" class="form-control" name="quantity" th:value="*{product.quantity} ">

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="reset">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit">Save</button>
        </p>
        </form>
    </div>
</div>
<div >
<a class="uk-button uk-button-danger uk-margin-small-right">Delete</a></div></td>

</tr>


</tbody>




</table>
</body>
</html>