<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User management system</title>
<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<br>
<div class="row">
<div class="col-md-6 mx-auto">
<div class="card">
<div class="card-body">

<h1 class="text-center">User Management System </h1>
<br>
<h2>Update User</h2>
<form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST" class="form-group  ">
 <input type="hidden" class="form-control "  th:field="*{id}" >
  <label >First Name:</label>
<input type="text" class="form-control "  th:field="*{nom}">
<label >Last Name:</label>
<input type="text" class="form-control "  th:field="*{prenom}">
<label >Email:</label>
<input type="email" class="form-control "  th:field="*{email}" >
<label >Password:</label>
<input type="text" class="form-control "  th:field="*{password}">
<label >Sold:</label>
<input type="number" class="form-control "  th:field="*{solde}" >
<label >Type:</label>
<input type="text" class="form-control "  th:field="*{type}" >

<button type="submit" class="btn btn-info col-2">Update User</button>

</form>

<a th:href ="@{/users}">Back To Users List</a>
</div>
</div>
</div>
</div>

</body>
</html>