<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Update Product</title>
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
<h3 class="text-center">Update Product</h3>
<form action="#" th:action="@{/saveProduct}" method="Post" th:object="${products}" >
<div class="form-group  col-sm-3">
<input type="text" class="form-control" name="id" th:field="*{id}" >
<label >Product Name :</label>
<input type="text" class="form-control" name="pname" th:field="*{name}">
<label>Product Description:</label>
<input type="text" class="form-control" name="desc"  th:field="*{description}">
<label>Quantity :</label>
<input type="number" class="form-control" name="quantity" th:field="*{quantity}" >
<label>Price:</label>
<input type="text" class="form-control" name="prix" th:field="*{prix}">
<br>
<div class="custom-file mb-2">
<img alt="" th:src="*{'data:image/png;base64,'+{products.image}}" style="width: 80px; height: 80px;">
<input type="file" name="file" class="custom-file-input"  >
<label class="custom-file-label">choose file:</label>
</div>
<button type="submit" class="btn btn-primary">submit</button>
</div>



</form>
</div>
</body>
</html>